<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Instances for <webobject name = "AppName"/></title>
<webobjects name="TextStyles"></webobjects>
</head>
<body>

<div class="Box">

<h3>Instance Configuration for <webobject name = "AppName"/></h3>

Site: <webobject name = "Site"/>

<p style="float: right"><em><webobject name = "ErrorOnPage"/></em>&nbsp;</p>

</div>

<webobject name = "ApplicationInstancesForm">

<div class="Box">

<table cellpadding="0" cellspacing="0" border="0" width="99%">
<tr>
<th width="23%">Instance Nodes/Hosts</th>
<th width="23%">Instances</th>
<th width="23%"h>Running Instances</th>
<th width="15%" class="alignCenter">Start/Stop</th>
<th width="15%">&nbsp;</th>
</tr>
<webobject name = "InstanceHostsList">
<tr>
<td><webobject name = "InstanceHost"/></td>
<td class="alignRight"><webobject name = "InstancesOnThisHost"/></td>
<td class="alignRight"><webobject name = "RunningInstances"/></td>
<td class="alignCenter"><webobject name = "StartInstancesOnNode"><webobject name = "StartImage"/></webobject> <webobject name = "StopInstancesOnNode"><webobject name = "StopImage"/></webobject></td>
<td class="alignCenter"><webobject name = "RemoveFromArray">Remove</webobject></td>
</tr>
</webobject>
<tr>
<th>&nbsp;</th>
<th class="alignRight"><span style="float: left; padding-top: 3px;"><b>Total:</b></span><webobject name = "TotalInstances"/></th>
<th class="alignRight"><span style="float: left; padding-top: 5px;">Interleave:</span><webobject name = "Interleave"/></th>
<th colspan="2">&nbsp;</th>
</tr>
<tr>
<td><webobject name = "SiteHostsPopupButton"/></td>
<td class="alignRight"><b> Instances to add: <webobject name = "NewInstancesCount"/></b></td>
<td >&nbsp;</td>
<td class="alignCenter"><webobject name = "AddFormDataToArray"/></td>
<td class="alignCenter"><webobject name = "CommitInstanceNodesToSystem"/></td>
</tr>
</table>

</div>

<div class="Box">

<table cellpadding="0" cellspacing="0" border="0" width="99%">
<tr>
<th colspan="5">Instance Schedule</th>
</tr>
<tr>
<td width="23%" class="alignCenter">Schedule Window: <webobject name = "ScheduleBegin"/>:00 - <webobject name = "ScheduleEnd"/>:00</td>
<td width="23%"><webobject name = "ScheduleTypeHourly"/> Every <webobject name = "IntervalsPopup"/>hours</td>
<td width="23%"><webobject name = "ScheduleTypeWeekly"/> Every <webobject name = "DaysOfTheWeek"/></td>
<td width="15%"><webobject name = "ScheduleTypeDaily"/> Daily</td>
<td width="15%" class="alignCenter"><webobject name = "ApplyScheduleToSystem"/></td>
</tr>
</table>

</div>

<div class="Box">
<p style="float: right; white-space:nowrap;"><webobject name = "SaveToDatabase"/>&nbsp;</p>
<webobject name = "SelectAnotherApp">Change App</webobject>
</div>

</webobject>


</body>
</html>
